:root {
  --primary-grey-text: #757575;
  --primary-white-color: #ffffff;
  --blu-color: #2196f3;
  --secondary-black-color: #212121;
  --black-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
}

body {
  color: var(--primary-grey-text);
  background: var(--primary-white-color);
}
ul {
  list-style: none;
}

/* ------------------------------Page Hero --------------------------- */
/* Logo */

.logo {
  text-decoration: none;
  color: var(--blu-color);
}

.logo-two {
  color: var(--black-color);
}

/* Sate nav */

.site-nav .link.current {
color: var(--blu-color);  
}

.site-nav a{
  color: var(--secondary-black-color);
  text-decoration: none;
}
/* .current {
color: var(--blu-color); 
} */


.site-nav .grey {
  color: var(--primary-grey-text);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blu-color);
}

/* Main */
.hero {
  color: var(--primary-white-color);
  background-color: var(--background-dark);
}
.button {
  background: var(--blu-color);
}
.title-section  {
  color: var(--secondary-black-color);
}
.title-section-work {
color: var(--secondary-black-color);  
}

.title-section-team {
color: var(--secondary-black-color);
}

/* Footer */

.address,
.logo-three {
  color: var(--primary-white-color);
  background-color: var(--background-dark);
  text-decoration: none;
}

.contact {
  color: var(--secondary-white-color);
  background-color: var(--background-dark);
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--blu-color);
}

/* ------------------------------Page Portfolio --------------------------- */

 /* Buttons */
